@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: radial-gradient(red, orange);
  padding: 5px;
}
header .logo {
  width: 8%;
}
header .encabezador {
  animation: flicker-in-1 2s linear both;
  animation-duration: 1s;
  animation-direction: normal;
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
header .title {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  text-shadow: 0px 3px 2px seashell;
  color: maroon;
  font-family: "Bebas Neue", sans-serif;
}
header .navbar {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  animation: roll-in-left 0.6s ease-out both;
  animation-direction: alternate;
  animation-delay: 1s;
}
@keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
header a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: purple;
}

.title__h2 {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  transition: all 1s;
  transform: scale(0.75);
}

.title__h2:hover {
  transform: scale(1.5);
}

.aggregates {
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif;
  font-size: 18px;
}

.combo {
  font-family: "Dosis", sans-serif;
}

.burgers {
  margin-bottom: 0.5rem;
}

.hero .hero__menu {
  padding: 10px;
}

.hero__menu--list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

h4 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}

.form {
  padding: 15px;
}
.form .form__h5 {
  margin-top: 5px;
  margin-bottom: 7px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}
.form .form__label {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: "Dosis", sans-serif;
}
.form .form__select {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border: 3px dashed orange;
}
.form .form__input {
  margin-top: 2px;
  margin-bottom: 2px;
}
.form .form__div {
  margin-top: 10px;
  display: flex;
  gap: 0.5rem;
}
.form .form__div {
  margin-top: 10px;
  display: flex;
  gap: 0.5rem;
}

.form__envios {
  padding: 10px;
}
.form__envios .form__envios--label {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: "Dosis", sans-serif;
  margin-right: 10px;
}
.form__envios .form__envios--input {
  margin-top: 5px;
}
.form__envios .envios__h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}
.form__envios .form__envios--select {
  margin-left: 15px;
  margin-bottom: 10px;
  border: 3px dashed orange;
}
.form__envios .form__envios--div {
  width: 55%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "name   lastname" "people  places" "time  submit";
}
.form__envios .name {
  grid-area: name;
}
.form__envios .lastname {
  grid-area: lastname;
}
.form__envios .people {
  grid-area: people;
}
.form__envios .places {
  grid-area: places;
}
.form__envios .time {
  grid-area: time;
}
.form__envios .submit {
  grid-area: submit;
}

.sucursales {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 3rem;
}
.sucursales .sucursalone {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(165, 162, 162, 0.8549019608);
  border: 2px dashed black;
  border-radius: 20%;
  padding: 1.5rem;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-duration: 1s;
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
.sucursales .img1 {
  width: 58%;
  border-radius: 2%;
}
.sucursales .sucursaltwo {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(165, 162, 162, 0.8549019608);
  border: 2px dashed black;
  border-radius: 20%;
  padding: 1.5rem;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-duration: 2s;
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
.sucursales .img2 {
  width: 60%;
  border-radius: 2%;
}
.sucursales .sucursalthree {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(165, 162, 162, 0.8549019608);
  border: 2px dashed black;
  border-radius: 20%;
  padding: 1.5rem;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-duration: 3s;
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
.sucursales .img3 {
  width: 58%;
  border-radius: 2%;
}

.button--submit:focus {
  background-color: orange;
  color: black;
}

.button--reset:focus {
  border: 4px dashed orange;
}

.title__h2:hover {
  color: grey;
}

h5 {
  font-family: "Bebas Neue", sans-serif;
}

.price1 {
  background-color: orange;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 50%;
  padding: 0.75rem;
  outline: 2px dashed black;
}

.price2 {
  background-color: orange;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 50%;
  padding: 0.75rem;
  outline: 2px dashed black;
}

.price3 {
  background-color: orange;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 50%;
  padding: 0.75rem;
  outline: 2px dashed black;
}

.price4 {
  background-color: orange;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 50%;
  padding: 0.75rem;
  outline: 2px dashed black;
}

p {
  font-family: "Dosis", sans-serif;
}

.name__equipment {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.1rem;
}

.primeraburguer {
  border: 2px solid bisque;
  padding: 1rem;
}

.segundaburguer {
  border: 2px solid bisque;
  padding: 1rem;
}

.burguer3 {
  border: 2px solid bisque;
  padding: 1rem;
}

.cuartaburguer {
  border: 2px solid bisque;
  padding: 1rem;
}

.quintaburguer {
  border: 2px solid bisque;
  padding: 1rem;
}
.quintaburguer .combo5 {
  width: 320px;
}

.sextaburguer {
  border: 2px solid bisque;
  padding: 1rem;
}
.sextaburguer .combo6 {
  width: 320px;
}

.septimaburguer {
  border: 2px solid bisque;
  padding: 1rem;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.burgers > div {
  transition: all 0.3s;
}

.burgers > div:hover {
  transform: translatey(-50px);
}

footer {
  padding: 1rem;
  background-image: radial-gradient(red, orange);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: auto;
}
footer .footer__logo {
  font-size: 7px;
  color: maroon;
  font-family: "Bebas Neue", sans-serif;
  animation: flicker-in-1 2s linear both;
  animation-duration: 1s;
  animation-direction: normal;
  transition: all;
}
@keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
footer .tittle__footer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-shadow: 0px 3px 2px seashell;
}
footer .logo {
  width: 8%;
}
footer .footer__sucursales {
  display: flex;
  flex-direction: column;
}
footer .footer__sucursales p {
  padding-top: 5px;
  font-family: "Dosis", sans-serif;
}
footer .footer__horarios {
  display: flex;
  flex-direction: column;
}
footer .footer__horarios p {
  padding-top: 5px;
  font-family: "Dosis", sans-serif;
}
footer .icons {
  color: black;
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 980px) {
  .col-md-3 {
    display: flex;
    gap: 1rem;
  }
  .sucursales {
    flex-direction: column;
  }
}
@media screen and (max-width: 680px) {
  .burgers > div {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .sucursales {
    flex-direction: column;
  }
  .form__envios .form__envios--div {
    margin: auto;
    outline: 2px solid orange;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "name" "lastname" "people" "places" "time" "submit";
  }
  .name {
    grid-area: name;
  }
  .lastname {
    grid-area: lastname;
  }
  .people {
    grid-area: people;
  }
  .places {
    grid-area: places;
  }
  .time {
    grid-area: time;
  }
  .submit {
    grid-area: submit;
  }
  footer {
    gap: 1rem;
  }
  .form__envios .form__envios--select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
@media screen and (max-width: 390px) {
  .container .burgers {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: auto;
    gap: 2rem;
  }
  .form__envios .form__envios--div {
    margin: auto;
    outline: 2px solid orange;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "name" "lastname" "people" "places" "time" "submit";
  }
  .name {
    grid-area: name;
  }
  .lastname {
    grid-area: lastname;
  }
  .people {
    grid-area: people;
  }
  .places {
    grid-area: places;
  }
  .time {
    grid-area: time;
  }
  .submit {
    grid-area: submit;
  }
  footer {
    gap: 2rem;
  }
  .icons {
    flex-direction: column;
  }
  .sucursales {
    display: flex;
    flex-direction: column;
  }
  header .navbar {
    justify-content: space-around;
  }
  .form__envios .form__envios--select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .form__envios .form__envios--checkbox {
    display: flex;
    justify-content: center;
  }
  .form__envios--label {
    margin-right: 10px;
  }
}/*# sourceMappingURL=estilos.css.map */