.title__h2{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    font-family: $fontbebasneue;
    letter-spacing: 1px;
    transition: all 1s;
    transform: scale(.75);
}

.title__h2:hover{
    transform: scale(1.5);
}

.aggregates{
    display: flex;
    justify-content: center;
    font-family: $fontdosissans;
    font-size: 18px;
}


.combo{
    font-family: $fontdosissans;
}

.burgers{
    margin-bottom: .5rem;
}

.hero .hero__menu{
    padding: 10px;
    
}

.hero__menu--list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

h4{
    font-family: $fontbebasneue;
    letter-spacing: 1px;
}


.form{
    padding: 15px;


    .form__h5{
        margin-top: 5px;
        margin-bottom: 7px;
        font-family: $fontbebasneue;
        letter-spacing: 1px;
    }
    
    .form__label{
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        font-family: $fontdosissans;
    }
    
    .form__select{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        border: 3px dashed $colorfondo;
    }
    
    .form__input{
        margin-top: 2px;
        margin-bottom: 2px;
    }
    
    .form__div{
        margin-top: 10px;
        display: flex;
        gap: 0.5rem;
    }


    .form__div{
       margin-top: 10px;
       display: flex;
       gap: 0.5rem;
    }
}

.form__envios{
    padding: 10px;

    
    .form__envios--label{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        font-family: $fontdosissans;
        margin-right: 10px;
    }
    
    .form__envios--input{
        margin-top: 5px;
    }
    
    .envios__h4{
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: $fontbebasneue;
        letter-spacing: 1px;
    }
    
    .form__envios--select{
        margin-left: 15px;
        margin-bottom: 10px;
        border: 3px dashed  $colorfondo;
    }
    
    .form__envios--div{
        width: 55%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 1fr 1fr;
        grid-template-areas: 
         "name   lastname"
         "people  places"
         "time  submit";

    }
    
    .name{
        grid-area: name;
    }
    
    .lastname{
        grid-area: lastname;
    }
    
    .people{
        grid-area: people;
    }
    
    .places{
        grid-area: places;
    }
    
    .time{
        grid-area: time;
    }
    
    .submit{
        grid-area: submit;
    }



}
.sucursales{
   display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 3rem;
    
    .sucursalone{
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: #a5a2a2da;
      border: 2px dashed black;
      border-radius: 20%;
      padding: 1.5rem;
      -webkit-animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;
      animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;
      animation-duration: 1s;
   }
   

    @-webkit-keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}
    @keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}

   .img1{
      width: 58%;
      border-radius: 2%;
   }
    
   .sucursaltwo{
       display: flex;
       align-items: center;
       gap: 1rem;
       background-color: #a5a2a2da;
       border: 2px dashed black;
       border-radius: 20%;
       padding: 1.5rem;
       -webkit-animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;
      animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;
      animation-duration: 2s;
   }


   @-webkit-keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}
    @keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}

   .img2{
      width: 60%; 
      border-radius: 2%;
   }
    
   .sucursalthree{
       display: flex;
       align-items: center;
       gap: 1rem;
       background-color: #a5a2a2da;
       border: 2px dashed black;
       border-radius: 20%;
       padding: 1.5rem;
       -webkit-animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;
      animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;
      animation-duration: 3s;
   }

   @-webkit-keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}
    @keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}

   .img3{
      width: 58%;
      border-radius: 2%;
   }
}

.button--submit:focus{
    background-color: $colorfondo;
    color: black;
}

.button--reset:focus{
    border: 4px dashed $colorfondo;
}


.title__h2:hover{
    color: grey;
}



h5{
    font-family: $fontbebasneue;
}


.price1{
    background-color: $colorfondo;
    max-width: max-content;
    border-radius: 50%;
    padding: .75rem;
    outline: 2px dashed black;
}


.price2{
    @extend .price1;
}

.price3{
    @extend .price1;
}

.price4{
    @extend .price1;
}


p{
    font-family: $fontdosissans;  
}




.name__equipment{
    font-family: $fontbebasneue;
    letter-spacing: .1rem;
}

.primeraburguer{
    border: 2px solid bisque;
    padding: 1rem;
}

.segundaburguer{
    border: 2px solid bisque;
    padding: 1rem;
}

.burguer3{
    border: 2px solid bisque;
    padding: 1rem;
}

.cuartaburguer{
    border: 2px solid bisque;
    padding: 1rem;
}

.quintaburguer{
    border: 2px solid bisque;
    padding: 1rem;

    .combo5{
        width: 320px;
    }
}

.sextaburguer{
    border: 2px solid bisque;
    padding: 1rem;

    .combo6{
        width: 320px;
    }
}

.septimaburguer{
    border: 2px solid bisque;
    padding: 1rem;
}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.burgers > div{
    transition: all .3s;
}

.burgers > div:hover{
    transform: translatey(-50px); 
}
