@media screen and (max-width:980px) {
    .col-md-3{
        display: flex;
        gap: 1rem;
    }
    .sucursales{
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .sucursales{
        flex-direction: column;
    }
    .form__envios .form__envios--div{
        margin: auto;
        outline: 2px solid orange;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(6,1fr) ;
        grid-template-areas: 
         "name"
         "lastname"
         "people"
         "places"
         "time"
         "submit";
    }

    .name{
        grid-area: name;
    }
    
    .lastname{
        grid-area: lastname;
    }
    
    .people{
        grid-area: people;
    }
    
    .places{
        grid-area: places;
    }
    
    .time{
        grid-area: time;
    }
    
    .submit{
        grid-area: submit;
    }

    footer{
        gap: 1rem;
    }

    .form__envios .form__envios--select{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    
}

@media screen and (max-width: 390px) {

    .container .burgers{
        padding: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: auto;
        gap: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .combo1{
        grid-area: burger1;
        width: 40%;
    }
    .combo2{
        grid-area: burger2;
        width: 40%;
    }
    .combo3{
        grid-area: burger3;
        width: 40%;
    }
    .combo4{
        grid-area: burger4;
        width: 40%;
    }

    .form__envios .form__envios--div{
        margin: auto;
        outline: 2px solid orange;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:  repeat(6,1fr) ;
        grid-template-areas: 
         "name"
         "lastname"
         "people"
         "places"
         "time"
         "submit";
    }


    .name{
        grid-area: name;
    }
    
    .lastname{
        grid-area: lastname;
    }
    
    .people{
        grid-area: people;
    }
    
    .places{
        grid-area: places;
    }
    
    .time{
        grid-area: time;
    }
    
    .submit{
        grid-area: submit;
    }

    footer{
        gap: 2rem;
    }

    .icons{
        flex-direction: column;
    }

    .sucursales{
        display: flex;
        flex-direction: column;
    }

    header .navbar{
       justify-content: space-around;

    }

    .form__envios .form__envios--select{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .form__envios .form__envios--checkbox{
        display: flex;
        justify-content: center;
    }
    
    .form__envios--label{
        margin-right: 10px;
    }

}