@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@300&display=swap');

$fontbebasneue: 'Bebas Neue', sans-serif;
$fontdosissans: 'Dosis', sans-serif;
$colorfondo: orange;